stages:
    - test
    - build
    - deploy

variables:
    NOMAD_ADDR: $NOMAD_ADDR
    PERSONAL_ACCESS_TOKEN: $PERSONAL_ACCESS_TOKEN
    BUN_INSTALL: "$CI_PROJECT_DIR/.bun"
    BUN_CACHE_DIR: "$CI_PROJECT_DIR/.bun/install/cache"
    PATH: "$BUN_INSTALL/bin:$PATH"

# Define a hidden job to be used with extends
# Better than default to avoid activating cache for all jobs
.bun_cache:
    cache:
        key:
            files:
                - bun.lock
        paths:
            - .bun/install/cache
        policy: pull

#
# region Test
#
test:
    stage: test
    image: oven/bun:1.3-alpine
    extends: .bun_cache
    cache:
        policy: pull-push
    before_script:
        - apk update && apk add --no-cache git bash
        - bun install --frozen-lockfile
    script:
        - bun run test:coverage
        - unset CI
        - bun run lint
        - bun run build
    rules:
        - if: "$CI_COMMIT_TAG"
          when: never
        - when: on_success
    coverage: /All\sfiles.*?\s+(\d+.\d+)/

test-release:
    stage: test
    image: oven/bun:1.3-alpine
    extends: .bun_cache
    cache:
        policy: pull-push
    before_script:
        - apk update && apk add --no-cache git bash
        - bun install --frozen-lockfile
    script:
        - bun run test:coverage
        - unset CI
        - bun run lint
        - bun run build
    artifacts:
        paths:
            - dist
        expire_in: 1 week
    rules:
        - if: "$CI_COMMIT_TAG"
          when: on_success
        - when: never
    coverage: /All\sfiles.*?\s+(\d+.\d+)/

test-e2e:
    stage: test
    image: mcr.microsoft.com/playwright:v1.58.2-jammy
    extends: .bun_cache
    cache:
        policy: pull-push
    before_script:
        - apt-get update && apt-get install -y curl unzip git bash && rm -rf /var/lib/apt/lists/*
        - curl -fsSL https://bun.sh/install | bash
        - export PATH="$BUN_INSTALL/bin:$PATH"
        - bun --version
        - bun install --frozen-lockfile
        - bun run build
    script:
        - export PATH="$BUN_INSTALL/bin:$PATH"
        - bun run test:e2e

#
# region Build
#
build:
    stage: build
    image: docker:29.2.1
    rules:
        - if: "$CI_COMMIT_TAG"
          when: on_success
        - when: never
    needs:
        - job: test-release
          artifacts: true
    services:
        - name: docker:29.2.1-dind
          command: ["--experimental"]
    script:
        - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
        - docker build -t $CI_REGISTRY/hmerritt/adrift:$CI_COMMIT_TAG -t $CI_REGISTRY/hmerritt/adrift:latest .
        - docker push $CI_REGISTRY/hmerritt/adrift:latest
        - docker push $CI_REGISTRY/hmerritt/adrift:$CI_COMMIT_TAG

    after_script:
        - docker logout
#
# region Deploy
#
deploy:
    stage: deploy
    image: alpine:3.23
    rules:
        - if: "$CI_COMMIT_TAG"
          when: on_success
        - when: never
    script:
        - apk add nomad gettext
        - envsubst '${CI_REGISTRY} ${CI_COMMIT_TAG} ${CI_REGISTRY_USER} ${PERSONAL_ACCESS_TOKEN}' < project.nomad > job.nomad
        # - cat job.nomad
        - nomad validate job.nomad
        - nomad plan job.nomad || if [ $? -eq 255 ]; then exit 255; else echo "success"; fi
        - nomad run job.nomad
    environment:
        name: production
    allow_failure: false
