@use 'sass:math';

//
// Stack
//

@for $i from 2 through 20 {
	.stack.stack-#{$i} {
		& > * {
			margin-top: #{math.div($i, 2)}rem;
		}
	}
}

.stack {
	@include flex();
	flex-direction: column;

	& > * {
		margin-top: 1rem;
	}

	& > *:first-child {
		margin-top: 0;
	}
}

@for $i from 2 through 20 {
	.stack-row.stack-#{$i} {
		& > * {
			margin-left: #{math.div($i, 2)}rem;
		}
	}
}

.stack-row {
	@include flex();
	flex-direction: row;

	& > * {
		margin-left: 1rem;
	}

	& > *:first-child {
		margin-left: 0;
	}
}
