.flex {
	@include flex();
	flex-wrap: nowrap;
	flex-direction: column;

	&.row {
		flex-direction: row;
	}

	&.wrap {
		flex-wrap: wrap;
	}

	&.grow {
		flex-grow: 1;
	}

	&.shrink {
		flex-shrink: 1;
	}

	&.v-center {
		align-items: center;
	}

	&.h-center {
		justify-content: center;
	}

	&.center {
		align-items: center;
		justify-content: center;
	}
}

.flex-center {
	@include flex-center();
}
