@use "sass:math";

//
// Spinner
//

.spinner {
	-webkit-animation: rotator 1.4s linear infinite;
	-moz-animation: rotator 1.4s linear infinite;
	-ms-animation: rotator 1.4s linear infinite;
	-o-animation: rotator 1.4s linear infinite;
	animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(270deg);
		transform: rotate(270deg);
	}
}

@keyframes rotator {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		-o-transform: rotate(270deg);
		transform: rotate(270deg);
	}
}

.path {
	stroke-dasharray: 187;
	stroke-dashoffset: 0;
	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	-ms-transform-origin: center;
	-o-transform-origin: center;
	transform-origin: center;
	-webkit-animation: dash 1.4s ease-in-out infinite;
	-moz-animation: dash 1.4s ease-in-out infinite;
	-ms-animation: dash 1.4s ease-in-out infinite;
	-o-animation: dash 1.4s ease-in-out infinite;
	animation: dash 1.4s ease-in-out infinite;
}

@-webkit-keyframes dash {
	0% {
		stroke-dashoffset: 187;
	}
	50% {
		stroke-dashoffset: 46.75;
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
	}
	100% {
		stroke-dashoffset: 187;
		-webkit-transform: rotate(450deg);
		transform: rotate(450deg);
	}
}

@keyframes dash {
	0% {
		stroke-dashoffset: 187;
	}
	50% {
		stroke-dashoffset: 46.75;
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
		-ms-transform: rotate(135deg);
		-o-transform: rotate(135deg);
		transform: rotate(135deg);
	}
	100% {
		stroke-dashoffset: 187;
		-webkit-transform: rotate(450deg);
		-moz-transform: rotate(450deg);
		-ms-transform: rotate(450deg);
		-o-transform: rotate(450deg);
		transform: rotate(450deg);
	}
}

//
// Flex
//

.flex {
	@include flex();
	flex-wrap: nowrap;
	flex-direction: column;

	&.row {
		flex-direction: row;
	}

	&.wrap {
		flex-wrap: wrap;
	}

	&.grow {
		flex-grow: 1;
	}

	&.shrink {
		flex-shrink: 1;
	}

	&.v-center {
		align-items: center;
	}

	&.h-center {
		justify-content: center;
	}

	&.center {
		align-items: center;
		justify-content: center;
	}
}

.flex-center {
	@include flex-center();
}

//
// Stack
//

@for $i from 1 through 20 {
	.stack.stack-#{$i} {
		& > * {
			margin-top: #{math.div($i, 2)}rem;
		}
	}
}

.stack {
	@include flex();
	flex-direction: column;

	& > * {
		margin-top: 1rem;
	}

	& > *:first-child {
		margin-top: 0;
	}
}

@for $i from 1 through 20 {
	.stack-row.stack-#{$i} {
		& > * {
			margin-left: #{math.div($i, 2)}rem;
		}
	}
}

.stack-row {
	@include flex();
	flex-direction: row;

	& > * {
		margin-left: 1rem;
	}

	& > *:first-child {
		margin-left: 0;
	}
}
